.auth-container {
    width: 720px;
    margin: 50px auto;
    text-align: center;
}

.auth-container h1 {
    margin-bottom: 50px;
    font-size: 42px;
}

/* 各入力ブロック */
.form-group {
    text-align: left;
    margin-bottom: 60px;
}

.form-group label {
    display: block;
    font-weight: bold;
    color: #000;
    margin-bottom: 5px;
    margin-bottom: 8px;
    font-size: 26px;
}

.auth-container input {
    display: block;
    width: 100%;
    padding: 20px 12px; /* ← 縦横を拡大 */
    font-size: 18px; /* ← 文字を大きく */
    box-sizing: border-box;
    border-radius: 6px;    /* 角を少し丸める */
    border: 2px solid #000;
}

.auth-container input {
    margin-bottom: 5px;
}

/* ログインボタンのデザイン */
.auth-container button {
    display: block;
    width: 100%;
    padding: 18px 0;     /* ← 縦を大きく */
    margin-top: 100px;
    background-color: #000;
    color: #fff;
    font-size: 28px;    /* ← 文字も少し大きく */
    font-weight: bold;
    border: none;
    border-radius: 6px; /* ← 少し丸く */
    cursor: pointer;
    transition: background-color 0.2s;
}

.auth-container button:hover {
    background-color: #333;
}

.auth-container a {
    display: inline-block;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
    font-size: 22px;
}

.auth-container a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.error {
    color: red;
    font-size: 18px;
    margin-top: 6px;
}
